#grid {
    max-height:75vh;
    aspect-ratio:1/1;
    display:flex;
    user-select: none;
    margin: 20px auto 0;
    border-top:1px solid black;
    border-right:1px solid black;
}

#form {
    text-align:center;
    width:100%;
}
#size-input {
    width:15vw;
}

body {
    margin:20px;
    -webkit-user-select:none;
}
body:active {
    -webkit-user-select:none;
}

.rowStyle {
    flex:1;
    display:flex;
    flex-direction:column;
}

.cellStyle {
    border-left:1px solid black;
    border-bottom:1px solid black;
    background-color:white;
    aspect-ratio:1/1;
}

div.cellStyle:hover {
    background-color:black;
}